<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <!-- ref print text https://stackoverflow.com/questions/12848286/print-the-value-of-a-variable-in-python-django answered Oct 11 '12 at 20:49 -->
    <title>{% block title %} {{ page_Title }} {% endblock %}</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'mm/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'mm/css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'mm/css/main.css' %}">
    
    <script src="{% static 'mm/js/jquery.js' %}"></script>
    <script src="{% static 'mm/js/main.js' %}"></script>
    
    <!-- ref http://uxmilk.jp/41847 -->
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    
    
</head>
    
<body>

        <!-- ref https://oncampus.oberlin.edu/webteam/2012/09/architecture-django-templates -->
        <div id="main" role="main">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    <div id = "layout_Links_Basic">
    
        {% include 'mm/partials/layouts/__layouts_links_basic.html' %}
    
    </div>
    
</body>
</html>