<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <title>{% block title %}Mindmap Manager{% endblock %}</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'mm/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'mm/css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'mm/css/main.css' %}">
    
    <script src="{% static 'mm/js/jquery.js' %}"></script>
    <script src="{% static 'mm/js/main.js' %}"></script>
    
</head>
    
<body>

    {% include 'mm/partials/build_history_content.html' %}

</body>
</html>
