<table id="tbl_Curr_Updown_Patterns">

    <tr>
    
        <td>
            
	            <label class="lbl_Curr_UpdownPatterns">Up down pattern<br>(1 : up / 0 : down / space : delimiter)</label>
            
            <br>
        
            <input value="1 1 1" id="ipt_Curr_UpdownPattern"/>
        
        
        </td>
    
    </tr>

    <tr>
    
        <td>
        
            <label class="lbl_Curr_UpdownPatterns">Range : Up (unit : JPY)</label>
            
            <br>
        
            <input value="25" id="ipt_Curr_UpdownPatterns_Range_Up"/>
        
        
        </td>
    
    </tr>



</table>

<button 
        onclick="curr_Updown_GO()"
        class = "bt_Index_List_Action"
        >
     GO
</button>
