Basics
<hr>

<div id="div_Curr_Basics_Button_ShowHide">

	<button onclick="curr_Show_Basics_Table_Commands()"
	    class="bt_Basic_2_Size20"
	    
	    >
	    Show / Hide
	</button>
    
    List of commands
    
</div><!-- <div id="div_Curr_Basics_Button_ShowHide"> -->


<div id="div_Basics_ListOf_Actions">

    {% include 'curr/partials/basics_Table_Commands.html' %}


</div><!-- <div id="div_Basics_ListOf_Actions"> -->

<div id="div_Curr_Basics_Message_Area">

message => "{{ msg }}"

</div><!-- <div id="div_Basics_Message_Area"> -->

<div id="div_Curr_Basics_Result_Area">


</div><!-- <div id="div_Basics_Result_Area"> -->
