p.current_Scheme {
	
	color  : blue;
	/*color  : green;*/
	/*color  : red;*/
	
}


table#tbl_Im_Actions {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 10px;
}

table#tbl_Im_Actions__Header {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 20px;
	
	
	/*float      : left;*/

	
}

table#tbl_Im_Actions__Body {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 20px;
	
	overflow       :scroll;
    
    height         : 100px;
	
}

table#tbl_Curr_Tester_BUSL {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 20px 100px 20px 20px; /* up right down left
	
	/*overflow       :scroll;*/
    
    height         : 50px;
	
}/*tbl_Curr_Tester_BUSL*/

table#tbl_Curr_Actions__Header {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 20px;
	
	
	/*float      : left;*/

	
}

table#tbl_Curr_Actions__Body {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 20px;
	
	overflow       :scroll;
    
    height         : 100px;
	
}

table#tbl_Mm_Numbering_Actions {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 10px;
}/*table#tbl_Mm_Numbering_Actions {*/

table#tbl_Mm_DeNumbering_Actions {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 10px;
}/*table#tbl_Mm_Numbering_Actions {*/


table#Layout_Links_Basic {
	
	/*border     : 1;*/
	/*border     : 1px solid black;*/
	/* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
	/*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
	border     : 1px solid #aaaaaa;
	
	margin     : 10px;
}

table#tbl_Im_Actions tr th {
	
	/*ref https://www.w3schools.com/CSSref/pr_background-color.asp*/
	background-color   : #22ffff;
	
	text-align     : center;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Im_Actions__Header tr th {
	
	/*ref https://www.w3schools.com/CSSref/pr_background-color.asp*/
	background-color   : #22ffff;
	
	width              : 100px;
	
    /*background-color   : #22ffff;*/
	
	text-align     : center;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Mm_Numbering_Actions tr th {
	
	/*ref https://www.w3schools.com/CSSref/pr_background-color.asp*/
	background-color   : #22ffff;
	
	text-align     : center;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Mm_DeNumbering_Actions tr th {
	
	/*ref https://www.w3schools.com/CSSref/pr_background-color.asp*/
	background-color   : #22ffff;
	
	text-align     : center;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Im_Actions tr td {
	
	background-color   : #ffffff;
	
	text-align     : left;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Im_Actions__Body tr td {
	
	background-color   : #ffffff;
	
	text-align     : left;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Curr_Tester_BUSL tr td {
	
	background-color   : #ffffff;
	
	text-align     : left;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}/*#tbl_Curr_Tester_BUSL*/

table#tbl_Mm_Numbering_Actions__Body tr td {
	
	background-color   : #ffffff;
	
	text-align     : left;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Mm_Numbering_Actions tr td {
	
	background-color   : #ffffff;
	
	text-align     : left;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

table#tbl_Mm_DeNumbering_Actions tr td {
	
	background-color   : #ffffff;
	
	text-align     : left;
	
	border     : 1px solid #aaaaaa;
	
	padding    : 5px;
	
}

/*table#tbl_Curren_Gen_PeakData {*/
table#tbl_Curren_Gen_PeakData tr td {
    
    /*border     : 1;*/
    /*border     : 1px solid black;*/
    /* ref template for css files https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse */
    /*ref table border http://www.html.am/html-codes/tables/table-border.cfm*/
    border     : 1px solid #aaaaaa;
    
    margin     : 10px;
}


button.bt_Basic_1 {
	
	font-size: 30px;
	background-color: yellow;
	font-weight: bold;
	
	padding    : 5px;
	
	
}

button.bt_Basic_2_Size20 {
	
	font-size: 20px;
	
	background-color: yellow;
	
	font-weight: bold;
	
	padding    : 5px;
	
	
}

button.bt_Basic_2_Size20:hover {
    
    background-color: #3e8e41;
    
}

button.bt_Basic_2_Size20:active {
    
    /*ref active https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3*/

    background-color: #6ebe71;
    
}



button.bt_Numbering_List {
	
	font-size: 30px;
	background-color: yellow;
	font-weight: bold;
	
	padding    : 5px;
	
	
}

button.bt_Numbering_List:hover {
	
	background-color: #3e8e41;
	
}

button.bt_Numbering_List:active {
	
	/*ref https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3*/

	background-color: DarkKhaki;
	
	transform: translateY(4px);
	
	
}

button.bt_Index_List_Action {
	
	font-size: 30px;
	background-color: green;
	font-weight: bold;
	
	color      : white;
	
	padding    : 5px;
	
	
}

a.a_Layout_Links_Basic {

	color: Cornsilk ;
	
	/*color: #4e4e4e;*/

	
    /*color: #6e6e6e;*/
    font: bold 20px Helvetica, Arial, sans-serif;
    
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    
    background: CadetBlue ;
    
/*background: #81BEF7;*/
    
    border: solid 1px #86B404;
    /*border: solid 1px #dcdcdc;*/
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    
    margin-right: 20px;
    cursor:pointer;
	
	target     : _blank;
	
	/*
	font-size: 20px;
	background-color: green;
	font-weight: bold;
	
	color      : white;
	
	padding    : 5px;
	
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    
    width       : 30px;
	*/
	
}

button.bt_Index_List_Action:hover {
	
	font-size: 30px;
	background-color: DarkKhaki ;
	font-weight: bold;
	
	
	color      : white;
	
	padding    : 5px;
	
	
}

button.bt_Index_List_Action:active {
	
	font-size: 30px;
	
	/*ref color https://www.computerhope.com/htmcolor.htm */

	background-color: MediumTurquoise;
	font-weight: bold;
	
	box-shadow: 0 5px #666;
	
	transform: translateY(4px);
	
	color      : white;
	
	padding    : 5px;
	
	
}

div#index_Display_Area {
	
	background     : white;
	
}/*div#index_Display_Area {*/

div#layout_Links_Basic {
	
	background     : BurlyWood; 
	
	width          : 75%;
	
	min-height: 50px;
	
	margin         : 10px;
	
}/*div#index_Display_Area {*/

div#div_Curr_Basics_Button_ShowHide {
	
	margin         : 10px;
	
}/*div#div_Curr_Basics_Button_ShowHide {*/

div#div_Curr_Basics_Message_Area {
	
	margin         : 10px;
	
	background     : Moccasin;
	
	padding     : 10px;
	
}/*div#div_Curr_Basics_Message_Area {*/

div#div_Curr_Tester_Index_Area_Message {
	
	margin         : 10px;
	
	background     : Moccasin;
	
	padding     : 10px;
	
}/*div#div_Curr_Basics_Gen_PeakData_Message_Area {*/

div#div_Curr_Tester_Index_Area__Result {
	
	margin         : 10px;
	
	background     : Lavender;
	
	padding     : 10px;
	
}/*div#div_Curr_Tester_Index_Area__Result {*/

div#div_Curr_Basics_Gen_PeakData_Message_Area {
	
	margin         : 10px;
	
	background     : Moccasin;
	
	padding     : 10px;
	
}/*div#div_Curr_Basics_Gen_PeakData_Message_Area {*/

div#div_Curr_Basics_Result_Area {
	
	margin         : 10px;
	
	background     : Lavender;
	
	padding     : 10px;
	
}/*div#div_Curr_Basics_Result_Area {*/

div#div_Curr_Basics_Gen_PeakData_Result_Area {
	
	margin         : 10px;
	
	background     : Lavender;
	
	padding     : 10px;
	
}/*div#div_Curr_Basics_Gen_PeakData_Result_Area {*/

div#index_Message_Area {
	
	margin     : 10px;
	
	padding     : 10px;
	
}

div#index_Area__Result {
	
	margin     : 10px;
	
	padding     : 10px;
	
}

div#index_Display_Area {
	
	margin     : 10px;
	
	padding     : 10px;
	
}

div#div_MM_Actions {
	
	background     : LightSalmon; 
	
	width          : 40%;

	min-height: 50px;
	
	margin         : 10px;
	
	padding        : 10px;
	
}/*div#div_MM_Actions {*/

div#div_IM_Update_Date {
	
	background     : Thistle; 
	
	width          : 200px;
	
	min-height: 50px;
	
	margin-right   : 200px;
	margin-left    : 20px;
	
	/*ref float https://www.w3schools.com/CSSref/tryit.asp?filename=trycss_float*/

	float          : right;
	
	padding        : 5px;
	
}/*div#index_Display_Area {*/

div#div_MM_BuildHistory_SortKey {
	
	background     : DarkKhaki; 
	
	width          : 200px;
	
	min-height: 50px;
	
	margin-right   : 200px;
	margin-left    : 20px;
	
	/*ref float https://www.w3schools.com/CSSref/tryit.asp?filename=trycss_float*/

/*  float          : right;*/

	
	padding        : 5px;
	
}/*div#index_Display_Area {*/

div#div_MM_BuildHistory_NumOfHistories {
	
	background     : DarkKhaki; 
	
	width          : 200px;
	
	min-height: 50px;
	
	margin-right   : 200px;
	margin-left    : 20px;
	
	/*ref float https://www.w3schools.com/CSSref/tryit.asp?filename=trycss_float*/

	padding        : 5px;
	
}/*div#div_MM_BuildHistory_NumOfHistories {*/

div#div_MM_BuildHistory_Options {
	
	background     : #dddddd; 
	
	width          : 200px;
	
	min-height: 50px;
	
	margin-right   : 200px;
	margin-left    : 20px;
	
	/*ref float https://www.w3schools.com/CSSref/tryit.asp?filename=trycss_float*/

	float          : right;
	
	padding        : 5px;
	
}/*div#div_MM_BuildHistory_Options {*/

div#div_Title_BuildHistory {
	
	background     : BurlyWood; 
	
	min-height: 50px;
	
	width      : 50%;
	
	margin         : 10px;
	
	padding        : 5px;
	
}/*div#index_Display_Area {*/

div#div_Numbering_Content {
	
	background     : white;
	
	/*ref https://stackoverflow.com/questions/17450861/add-scroll-bar-to-table-body */
	overflow       :scroll;
	
	height         : 350px;
	
/*height         : 50%;*/
	
	
}/*div#index_Display_Area {*/

div#div_DeNumbering_Content {
	
	background     : white;
	
	/*ref https://stackoverflow.com/questions/17450861/add-scroll-bar-to-table-body */
	overflow       :scroll;
	
	height         : 350px;
	
/*height         : 50%;*/
	
	
}/*div#div_DeNumbering_Content {*/

div#div_DeNumbering_Content tr td {
	
    background-color   : #ffffff;
    
    text-align     : left;
    
    border     : 1px solid #aaaaaa;
    
    padding    : 5px;
	
    	
	
}/*div#div_DeNumbering_Content {*/

div#div_Im_Actions__Body {
	
	background     : white;
	
	/*ref https://stackoverflow.com/questions/17450861/add-scroll-bar-to-table-body */
	overflow       :scroll;
	
	height         : 450px;
	
/*height         : 50%;*/

	
	
}/*div#div_Im_Actions__Body {*/

div#div_Curr_Tester_BUSL__Tbl {
	
	background     : white;
	
	/*ref https://stackoverflow.com/questions/17450861/add-scroll-bar-to-table-body */
	overflow       :scroll;
	
	height         : 350px;
	
/*height         : 50%;*/

	
	
}/*div#div_Curr_Tester_BUSL__Tbl {*/

div#div_Curr_Tester_Actions__Body {
	
	background     : white;
	
	/*ref https://stackoverflow.com/questions/17450861/add-scroll-bar-to-table-body */
	overflow       :scroll;
	
	height         : 400px;
	
/*height         : 50%;*/

	
	
}/*div#div_Curr_Tester_Actions__Body {*/

div#div_IFM11_List_Main {
	
	background     : white;
	
	/*ref https://stackoverflow.com/questions/17450861/add-scroll-bar-to-table-body */
	overflow       :scroll;
	
	height         : 450px;
	
	margin         : 20px;
	
/*height         : 50%;*/
	
	
}/*div_IFM11_List_Main {*/


input#ipt_Numbering_MainDir {
	
	height: 30px;
    width:  350px;
    /*width:  250px;*/

    background: #81BEF7;
    
    margin-top: 10px;
    
    margin-left : 20px;
    
    padding     : 5px;
	
	
}/*input#ipt_Numbering_MainDir {*/

input#ipt_Curr_Tester_BUSL_DpathImages {
	
	height: 30px;
    width:  350px;
    /*width:  250px;*/

    background: #81BEF7;
    
    margin-top: 10px;
    
    margin-left : 20px;
    
    padding     : 5px;
	
	
}/*input#Curr_Tester_BUSL_DpathImages {*/

input#ipt_IM_Update_Date {
	
	height: 30px;
    width:  150px;
    /*width:  250px;*/

    /*ref color names https://html-color-codes.info/color-names/*/
    background: LemonChiffon;
    
    margin-top: 10px;
    
    margin-left     : 20px;
    margin-right    : 200px;
    
    padding     : 5px;
	
	/*float       : right;*/

	
	
}/*input#ipt_Numbering_MainDir {*/

input#ipt_MM_BuildHistory_SortKey {
	
	height: 30px;
    width:  150px;
    /*width:  250px;*/

    /*ref color names https://html-color-codes.info/color-names/*/
    background: LemonChiffon;
    
    margin-top: 10px;
    
    margin-left     : 20px;
    margin-right    : 200px;
    
    padding     : 5px;
	
	/*float       : right;*/

	color      : blue;
	
	/*ref font bold https://www.w3schools.com/csSref/tryit.asp?filename=trycss_font-weight*/

	font-weight       : bold;
	
	/*font-family        : Times,  sans-serif;*/

      font-family        : "Times New Roman", Times,  monospace;
/*      font-family        : "Times New Roman", Times,  sans-serif;*/

    font-size       : 20px;


	
}/*input#ipt_MM_BuildHistory_SortKey {*/

input#ipt_MM_BuildHistory_NumOfHistories {
	
	height: 30px;
    width:  150px;
    /*width:  250px;*/

    /*ref color names https://html-color-codes.info/color-names/*/
    background: LemonChiffon;
    
    margin-top: 10px;
    
    margin-left     : 20px;
    margin-right    : 200px;
    
    padding     : 5px;
	
	/*float       : right;*/

	color      : blue;
	
	/*ref font bold https://www.w3schools.com/csSref/tryit.asp?filename=trycss_font-weight*/

	font-weight       : bold;
	
	/*font-family        : Times,  sans-serif;*/

      font-family        : "Times New Roman", Times,  monospace;
/*      font-family        : "Times New Roman", Times,  sans-serif;*/

    font-size       : 20px;


	
}/*input#ipt_MM_BuildHistory_NumOfHistories {*/

input#ipt_DeNumbering_MainDir {
	
	height: 30px;
    width:  350px;
    /*width:  250px;*/

    background: #81BEF7;
    
    margin-top: 10px;
	
    margin-left : 20px;
    
    padding     : 5px;
	
}/*input#ipt_Numbering_MainDir {*/

select#select_MM_Actions {
	
	font-size: 20px;
	
	background: LemonChiffon;
	
	margin-left    : 20px;
	
	margin-right    : 20px;
	
	padding        : 5px;
	
	
	
}

select#select_Curr_Actions {
	
	font-size: 20px;
	
	background: LemonChiffon;
	
	margin-left    : 20px;
	
	margin-right    : 20px;
	
	padding        : 5px;
	
	
	
}

label.lbl_Curr_UpdownPatterns {
	
	background: Gold;
	/*background: LemonChiffon;*/
	
	display    : block;
	
	width      : 200px;
	
	padding    : 5px;
	
}