<!-- links -->

<table id = "Layout_Links_Basic">

    <tr>
    
        <td>
            <a
                        href="/mm"
                        class = "a_Layout_Links_Basic"
                        
                        target = "_blank"
                        >
                     MM
            </a>
                
        </td>

        <td>
        
            <a
                        href="/im"
                        class = "a_Layout_Links_Basic"
                        
                        target = "_blank"
                        
                        >
                     IM
            </a>
                    
        </td>
    
        <td>
        
            <a
                        href="/curr"
                        class = "a_Layout_Links_Basic"
                        
                        target = "_blank"
                        
                        >
                     Curr
            </a>
                    
        </td>
    
    </tr>

</table>