{% load taglib_basic %}

<table id="tbl_Im_Actions__Header">

        <tr>
            
            <th>
                No.
            </th>
                
            <th>
                ID
            </th>
                
            <th>
            
                Descriptions
                
            </th>
            
            <th>
            
                Action
                
            </th>
        
            <th>
            
                More info
                
            </th>
        
            <th>
            
                Entry date
                
            </th>
        
        </tr>

</table>

<table id="tbl_Im_Actions__Body">

        {% for item in list_of_params %}
        
            <tr>
            
                <td>
                
                    {{forloop.counter}}
                
                </td>
                
                <td>
                
                    {{ item.0 }}
                    
                </td>
                
                <td id="td_Label_{{ item.0 }}">
                
                    {{ item.1 }}
                    
                </td>
                
                
                <td>
                    
                    <!-- 
                    <a href="http://127.0.0.1:8000/curr/tester_BuyUps_SellLows/?command=BUSL_3&busl3_action={{ item.2 }}">
                    GO </a>
                    
                     -->
                     
                    <button 
                           onclick="curr_BUSL_3__Action('{{ item.0 }}')"
                           class="bt_Basic_2_Size20"
                           >
                       GO
                       </button>
                     
                </td>
                
                <td>
                    {{ item.3 }}
                </td>
                
                <td>
                    {{ item.4 }}
                </td>
                
            </tr>
            
        {% endfor%}

</table>

